.todo{
   color: #fff;
   max-width: 576px;
   margin: auto;  
   margin-left: 20px;
   margin-right: 20px;
}
.openModel{
  position: fixed;
  right: 20px;
  bottom: 140px;
margin-top: 50px;
width: 40px;
height: 40px;
border: none;
border-radius: 50%;
background-color: #1a02f3;

}
#oke{
  margin-top: 7px;
}
.contentTitle{
  padding-left: 20px;
}
.subTitle{
  margin: 0px;
}
.content{
  display: flex;
  justify-content: left;
}
.mainModal{
  background-color: rgb(255, 0, 0);
  border: 2px solid rgb(23, 112, 196);
  color: rgb(255, 255, 255);
  position: fixed;
  top: 200px;
  right: 20px;
  left: 20px;
  border-radius: 20%;
}
.mainModal-Container{
  text-align: center;
}
.btn_cancel{
  margin-right: 20px;
}
.contentModal{
  padding-bottom: 30px;
  
}
.openModel i{
font-size: 20px;
color: #fff;
}

body{
  background-color: black;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
